<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
    h2 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}
  span{text-align: center;}
  input{text-align: center;}
  section{text-align: center;}
  option{text-align: center;}
    </style>
    <meta charset="utf-8" />
    <title>Score Predictor</title>
  </head>
  <body bgcolor="pink">
    <div class="container">
      <h2 class="container-heading">
        <span class="heading_first">Score Predictor for </span
        ><span class="heading_second"> IPL (Indian Premier League)</span>
      </h2>
    </div>
    <div class="prediction-area">
      </div>
      <div class="div2">
        <form action="{{ url_for('predict') }}" method="POST">
          <select class="form-input align-center" name="batting-team">
            <option value="none">--- Select a Batting team ---</option>
            <option value="Mumbai Indians">Mumbai Indians</option>
            <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
            <option value="Chennai Super Kings">Chennai Super Kings</option>
            <option value="Rajasthan Royals">Rajasthan Royals</option>
            <option value="Kings XI Punjab">Kings XI Punjab</option>
            <option value="Royal Challengers Bangalore">
              Royal Challengers Bangalore
            </option>
            <option value="Delhi Daredevils">Delhi Daredevils</option>
            <option value="Sunrisers Hyderabad">
              Sunrisers Hyderabad
            </option></select
          ><br />
          <select class="form-input align-center" name="bowling-team">
            <option value="none">--- Select a Bowling team ---</option>
            <option value="Mumbai Indians">Mumbai Indians</option>
            <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
            <option value="Chennai Super Kings">Chennai Super Kings</option>
            <option value="Rajasthan Royals">Rajasthan Royals</option>
            <option value="Kings XI Punjab">Kings XI Punjab</option>
            <option value="Royal Challengers Bangalore">
              Royal Challengers Bangalore
            </option>
            <option value="Delhi Daredevils">Delhi Daredevils</option>
            <option value="Sunrisers Hyderabad">
              Sunrisers Hyderabad
            </option></select><br />
          <input
            class="form-input"
            type="text"
            name="overs"
            placeholder="Overs (>= 5.0) eg. 7.2"/><br />
          <input
            class="form-input"
            type="text"
            name="runs"
            placeholder="Runs eg. 64"/><br />
          <input
            class="form-input"
            type="text"
            name="wickets"
            placeholder="Wickets eg. 4"/><br />
          <input
            class="form-input"
            type="text"
            name="runs_in_prev_5"
            placeholder="Runs scored in previous 5 Overs eg. 42"/><br />
          <input
            class="form-input"
            type="text"
            name="wickets_in_prev_5"
            placeholder="Wickets taken in previous 5 Overs eg. 3"/><br />
          <input type="submit" class="myButton" value="Predict Score" /><br/>
        </form>
      </div>
    <div class='footer'>
      <p class='footer-description'>BY NABIN YADAV</p>
  </div>
  </body>
</html>
